name: Deploy Yaumi FRONT

on:
  push:
    branches:
      - deploy

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # penting untuk akses semua tag

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install & Build
        run: |
          npm install
          npm run build
          zip -r spa-build.zip dist/spa

      - name: Buat atau perbarui tag 'latest'
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git fetch --tags
          git tag -f latest
          git push --force origin latest

      - name: Upload ZIP ke GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          files: spa-build.zip
